*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	/*tipo de letra*/
	font-family: 'Open Sans', sans-serif;
	background: #000 url('fondo11.jpg');
	/*para que la imagen abarque el 100% de la pagina*/
	background-size:cover;
	/*para que no se repita la imagen*/
	background-attachment: fixed;
}

/*contenedor padre de cada uno de los elementos como header, main, footer etc*/
.contenedor{
	margin: auto;
	width: 90%;
	max-width: 900px;
	/*cosas para auto ajustar*/
	display: flex;
	flex-direction: row;
	/*soluciona los erroes de posicion*/
	flex-wrap: wrap;
}
/*elemento padre del .menu*/
header{
	width: 100%;
	padding:10px 0;
	/*para aplicar flexbox a los hijos */
	display: flex;
	/*para que un elemento se ponga a un lado del otro*/
	flex-direction: row;
	/*acomodar*/
	justify-content: space-between;
	/*centrar una linea de elelmentos*/
	align-items:center ;

}
/*tamanio de la imagen*/
.logo img{
	height: 200px;
}
/*elemento hijo del header*/
/*formatos para las palabras*/
header .menu a {
	font-weight: bold;
	color: #3F4DC2;
	text-decoration: none;
	margin-right: 40px;
	font-size: 18px;
}

header .menu a:hover {
text-decoration: underline;
}

.main{
	background:#fff;
	padding: 20px;
	width: 70%;
	text-align: center;
}


/*contenedor padre de los ad*/
aside {
	width: 30%;
	background:#537dca;
	padding: 20px;
	display: flex;
	/*pone el espacio sobrante en medio de los dos contenedores hijo*/
	justify-content: space-between;
}



aside .nombres{
	font-size: 18px;
	text-align: center;
	color:#fff;
	padding: 50px 0;
	background:#4264ae;
	font-weight: bold;

}

aside .nombres .menu li{
	list-style: none;
	line-height: 25px;
	padding-bottom: 20px;
}







footer{
	margin:20px 0;
	background: rgba(255,255,255,.2);
	padding: 20px;
	width: 100%;
	color:#fff;
	display: flex;
	flex-direction: row;
	/*en este caso no ocupamos solucionar los erroes de posicion*/
	flex-wrap: nowrap;
	justify-content: space-between;
}